
body {
	background-color: #FAFAFA;
}
.h700{
        height: 700px;
}
.brand {
    margin: 100px auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li{
    font-family: 'Roboto Condensed', sans-serif;
	color: #555;	/*文字顏色*/
	text-decoration: none;
}

ul {
    list-style-type: none;
	
}
ul li{
	margin-right: 20px;
}
h1{
    font-size: 52px;
    font-weight: 400;
    line-height: 1.5;
}

.header {
    margin: auto;
    background-color: #1ba391;
    overflow: hidden;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}
.bx-shopping-bag:hover {
    color: #ff523b !important;
}

.col img {
	max-width: 100%;
	max-height: 250px;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.single-product {
    margin-top: 80px;
}
.single-product .col-5 {
    padding: 20px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.col h1 {
    font-size: 25px;
    line-height: 60px;
    margin-left: 50px 0;
}
.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
}
.mid{
	display: flex;
	justify-content: center; 
	align-items: center; 
	margin-top: 50px;
}
.add-cart {
    position: relative;
    bottom: 0;
    background: #000;
    color: #fff;
    padding: 10px;

}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}
.footer {
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	background-color: #eee;
}

.account-page {
    padding: 180px 0;
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}
#LoginForm {
    left: -300px;
}

form a {
    font: size 12px;
}

#Regform {
    left: 0;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

img{
    width: 200px;
	height: 200px;

}